


$font-weight: (

    "extraLight":200,
    "light":300,
    "regular":400,
    "medium":500,
    "bold":700,
    "extrabold":800
);

$heading-text-color-first:#ffffff;
$heading-text-color-second:#00DA5D;

$theme-first-background-color:#00DA5D;
$skills-cards-hover-color:#00DA5D;
$button-hover-color:#00DA5D;
$second-text-color:#00DA5D;

$menu-links-color:#ffffff;  
$menu-links-hover-color:#00DA5D;  
$work-method-hover-color:#00DA5D;         

$social-icons-hover:#0B5FBA;

$general-normalSize-text-color:#C0C0C0;
$general-mediumSize-text-color:#C0C0C0;


$white-text:#ffffff;


$main-background-color: #000024;

$skills-cards-hover-color:#020243;
$home-third-sec-:#000033;
$accordion-color:#020243;
$theme-seconds-background-color:#020243;
$education-cards-color:#020243;
              

// ------ END  VARIABLES  --------




// ------  MIXINS  --------

    @font-face {
        font-family: 'Ethnocentric';
        src:  url(../../fonts/Ethnocentric/ethnocentric.otf);
    }

   
    @font-face {
        font-family: 'Poppins';
        src:  url(../../fonts/Poppins/Poppins.ttf);
    }


@function weight($weight-name){
    @return map-get($font-weight,$weight-name )
  };
  

    @mixin  generalHeading {
        font-size: 55px;
        color:$heading-text-color-first ;
        font-weight: weight(bold);
        font-family: 'Ethnocentric' , sans-serif;

    }


    @mixin  generalHeadingOne {
        font-size: 50px;
        color:$heading-text-color-second ;
        font-weight: weight(bold);
        font-family: 'Ethnocentric' , sans-serif;
    }

    @mixin  menuLinks {
        font-size:27px;
        color:$menu-links-color;
        font-weight: weight(medium);
        font-family: 'Poppins' , sans-serif;
       
    }

    @mixin  generalText {
        font-size:22px;
        color:$general-normalSize-text-color;
        font-weight: weight(light);
        font-family: 'Poppins' , sans-serif;
       
    }


    @mixin  generalMedumSizeText {
        font-size:27px;
        color:$general-normalSize-text-color;
        font-weight: weight(medium);
        font-family: 'Poppins' , sans-serif;
       
    }

    
    @mixin  generalText {
        font-size:22px;
        color:$general-normalSize-text-color;
        font-weight: weight(light);
        font-family: 'Poppins' , sans-serif;
       
    }



    @mixin  FlexCenter {
       display:flex;
       justify-content: center;
       align-items:center;
    }

    @mixin  FlexCenterRow {
       display:flex;
       justify-content: center;
       align-items:center;
    }

    @mixin  FlexCenterRow {
       display:flex;
       justify-content: center;
       align-items:center;
    }


// ------------  End  MIXINS  ---------------

.theme-background-first-layer{
    width: 100%;
    height: 100vh;
    background-color: #00DA5D;
    overflow: hidden;
  }

  .shape-TopRight {
    width: 400px;
    height: 400px;
    right: -145px;
    top: -170px;
  }
  .shape-TopLeft {
      width: 220px;
      height: 220px;
      left: -60px;
      top: -35px;
  }
  .shape-MidLeft {
      width: 280px;
      height: 280px;
      left: -20px;
      top: 60%;
  }
  .shape-MidRight {
      width: 360px;
      height: 360px;
      right: -110px;
      top: 30%;
  }
  .shape-BottomLeft {
    width: 360px;
    height: 360px;
    left: -145px;
    bottom: -6%;
  }
  .shape-BottomRight {
      width: 430px;
          height: 430px;
          right: -100px;
          bottom: -125px;
  }


  