@import "./general/variables.scss";
@import "./general/mixins.scss";

// ------------  Mixins ---------------

// @font-face {
//   font-family: "Ethnocentric";
//   src: url(../fonts/Ethnocentric/ethnocentric.otf);
// }

// @font-face {
//   font-family: "Poppins";
//   src: url(../fonts/Poppins/Poppins.ttf);
// }

// @function weight($weight-name) {
//   @return map-get($font-weight, $weight-name);
// }

// @mixin desktopSecondBpMixin {
//   @media (max-width: $desktopSecondBp) {
//     @content;
//   }
// }
// @mixin desktopThridBpMixin {
//   @media (max-width: $desktopthirdBp) {
//     @content;
//   }
// }

// @mixin generalHeading($fontSize) {
//   font-size: $fontSize;
//   color: $heading-text-color-first;
//   font-weight: weight(bold);
//   font-family: "Ethnocentric", sans-serif;
// }
// // 27
// @mixin generalHeadingOne($fontSize) {
//   font-size: $fontSize;
//   color: $heading-text-color-second;
//   font-weight: weight(bold);
//   font-family: "Ethnocentric", sans-serif;
// }

// @mixin menuLinks {
//   font-size: $fontSize;
//   color: $menu-links-color;
//   font-weight: weight(medium);
//   font-family: "Poppins", sans-serif;
// }

// @mixin generalText($fontSize) {
//   font-size: $fontSize;
//   color: $general-normalSize-text-color;
//   font-weight: weight(light);
//   font-family: "Poppins", sans-serif;
// }

// @mixin generalMedumSizeText($fontSize) {
//   font-size: $fontSize;
//   color: $general-normalSize-text-color;
//   font-weight: weight(medium);
//   font-family: "Poppins", sans-serif;
// }

// @mixin FlexCenterRow {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// @mixin flexCenterColumn {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// @mixin flexRow($xAxis, $yAxis) {
//   display: flex;
//   justify-content: $xAxis;
//   align-items: $yAxis;
// }

// @mixin flexColumn($xAxis, $yAxis) {
//   display: flex;
//   flex-direction: column;
//   justify-content: $xAxis;
//   align-items: $yAxis;
// }

// @mixin themeSecondLayerView($width, $marginTop) {
//   position: relative;
//   width: $width;
//   margin-top: $marginTop;
//   background-color: $theme-seconds-background-color;
// }

// @mixin button {
//   width: max-content;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: transparent;
//   width: 230px;
//   height: 70px;
//   font-size: 27px;
//   font-weight: map-get($font-weight, medium);
//   border: 2px solid $theme-green-color;
//   border-radius: 50px;
//   color: $theme-green-color;
//   transition-duration: 0.2s;
//   padding-bottom: 10px;
//   &:hover {
//     background-color: $button-hover-color;
//     color: $white-text;
//   }
// }

// @mixin backgroundImage($Img, $imgHover, $backPosition) {
//   background-image: url($Img);
//   background-repeat: no-repeat;
//   background-size: 35px 35px;
//   padding-bottom: 5px;
//   background-position: $backPosition center;
//   &:hover {
//     background-image: url($imgHover);
//   }
// }

// @mixin font($fontSize, $weight, $color, $hoverColor) {
//   font-size: $fontSize;
//   font-weight: weight($weight);
//   color: $color;
//   font-family: "Poppins", sans-serif;
//   &:hover {
//     color: $hoverColor;
//   }
// }

// // --------------Cards Mixins---------

// @mixin cardParent($width, $height) {
//   min-width: $width;
//   height: $height;
//   @include flexColumn(center, start);
//   border-radius: 30px;
//   background-color: $cards-background-color;
//   transition-duration: 0.2s;
//   &:hover {
//     background-color: $cards-hover-color;
//   }
// }

// @mixin backgroundCardImage($Img, $imgHover) {
//   width: 110px;
//   min-height: 100px;
//   border-radius: 8px;
//   background-image: url($Img);
//   background-repeat: no-repeat;
//   background-size: 68%;

//   background-position: center center;
//   transition-duration: 0.2s;
//   // &:hover {
//   // background-color: $white-text;
//   // background-image: url($imgHover);
//   // }
// }

// @mixin card {
//   width: 350px;
//   height: 440px;
//   background-color: $cards-background-color;
//   transition-duration: 0.2s;
//   &:hover {
//     background-color: $cards-hover-color;
//     color: $white-text;
//   }
// }

// @mixin VerticalPadding($top, $bottom) {
//   padding-top: $top;
//   padding-bottom: $bottom;
// }

// @mixin sectionHorizontalPadding($top, $bottom) {
//   padding-right: $top;
//   padding-left: $bottom;
// }
// @mixin elementSize($width, $height) {
//   width: $width;
//   height: $height;
// }

// //  -------------End Mixins-------------------

// $font-weight: (
//   "extraLight": 200,
//   "light": 300,
//   "regular": 400,
//   "medium": 500,
//   "bold": 700,
//   "extrabold": 800,
// );

// $desktopSecondBp: 1650px;
// $desktopthirdBp: 1540px;

// $heading-text-color-first: #ffffff;
// $heading-text-color-second: #00da5d;

// $theme-first-background-color: #00da5d;
// $button-hover-color: #00da5d;
// $second-text-color: #00da5d;
// $theme-green-color: #00da5d;

// $menu-links-color: #ffffff;
// $menu-links-hover-color: #00da5d;
// $work-method-hover-color: #00da5d;

// $social-icons-hover: #0b5fba;

// $general-normalSize-text-color: #c0c0c0;
// $general-mediumSize-text-color: #c0c0c0;

// $white-text: #ffffff;

// $main-background-color: #000024;

// $skills-cards-hover-color: #020243;
// $home-third-sec-: #000033;
// $accordion-color: #020243;
// $theme-seconds-background-color: #020243;
// $cards-background-color: #010139;
// $cards-hover-color: #00da5d;

// -----------------------------------

.tooltip {
  display: inline-block;
  position: relative;
  border-bottom: 1px dotted #666;
  text-align: left;
  transition-duration: 2s;
}

// .tooltip .top {
//   min-width:200px;
//   top:-20px;
//   left:50%;
//   transform:translate(-50%, -100%);
//   padding:10px 20px;
//   color:#FFFFFF;
//   background-color:#000066;
//   font-weight:normal;
//   font-size:13px;
//   border-radius:8px;
//   position:absolute;
//   z-index:99999999;
//   box-sizing:border-box;
//   border:1px solid #00CC00;box-shadow:0 0px 30px #00FF00;
//   visibility:hidden; opacity:0; transition:opacity 2s;
// }

// .tooltip:hover .top {
//   visibility:visible; opacity:1;
// }

// .tooltip .top i {
//   position:absolute;
//   top:100%;
//   left:50%;
//   margin-left:-12px;
//   width:24px;
//   height:12px;
//   overflow:hidden;
// }

// .tooltip .top i::after {
//   content:'';
//   position:absolute;
//   width:12px;
//   height:12px;
//   left:50%;
//   transform:translate(-50%,-50%) rotate(45deg);
//   background-color:#000066;
//   border:1px solid #00CC00;box-shadow:0 1px 8px #00FF00;
// }

.tooltips {
  padding: 5px 10px;
  background-color: $cards-background-color;
  width: fit-content;
  border-radius: 15px;
  position: absolute;

  min-width: 300px;
  max-width: 350px;
  border: 2px solid $theme-green-color;
  visibility: hidden;
  color: $white-text;
  z-index: 2;
  bottom: 110%;
  left: 10px;
}

.tooltips::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: $cards-background-color;
  top: 93.5%;
  left: 44%;
  transform: rotate(45deg);
  border-bottom: 2px solid $theme-green-color;
  border-right: 2px solid $theme-green-color;
}

.show-tooltip:hover .tooltips {
  visibility: visible;
  position: relative;
}

.about-main {
  padding-top: 0px;
}
.video-section {
  @include FlexCenterRow;
}

body .modal-backdrop {
  display: none !important;
}

.modal-dialog {
  display: flex;
  height: -webkit-fill-available;
  width: 85%;
  max-width: unset;
}

.modal-content {
  border: unset;
  background: transparent;
}

.modal-header {
  border: unset;
  width: fit-content;
}

.btn-close {
  padding-left: 55px !important;
  padding-bottom: 15px !important;
}
.video-back-layer {
  background-color: #04040496;
  height: 100vh;
  z-index: 1;
  left: 0px;
  top: 0;
}

.btn-close {
  width: min-content;
  background-color: rgba(253, 253, 253, 0.951);
}
.video-section {
  height: 600px;
  background-image: url(../assets/About/AboutBackImg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
}
.modal-header {
  position: absolute;
  right: -80px;
  top: 0;
}
.modal-dialog {
  z-index: 320;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
}
.video-react-control:before {
  top: 0 !important;
}
.video-react {
  padding-top: 0 !important;
  @include elementSize(100%!important, 90vh!important);
}

.video-react-poster {
  background-image: url(../assets/About/AboutBackImg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
  cursor: unset !important;
}

.video-react:hover .video-react-big-play-button {
  border: 6px solid #00da5d !important;
}

.video-section:hover {
  .video-react .video-react-big-play-button {
    border-radius: 50px !important;
    width: 90px !important;
    height: 90px !important;
    border: 6px solid #00da5d;
    background-color: black;
    background-color: rgba(0, 218, 93, 54%);
  }
}
.model-opening-icon {
  background-image: url(../assets/About/playIcon.svg);
  background-repeat: no-repeat;
  background-size: 50% 50% !important;
  background-position: 65% center;
}
// .model-opening-icon:hover{
//   background-color:$cards-hover-color ;
// }
.video-react .video-react-big-play-button,
.model-opening-icon {
  border-radius: 50px !important;
  width: 90px !important;
  height: 90px !important;
  border: 6px solid #00da5d;
  background-color: rgba(0, 218, 93, 54%) !important;
  transition-duration: 0.5s;
}

.video-react-button:hover,
.model-opening-icon:hover {
  box-shadow: 0px 0px 100px 10px #00da5dd6;
  background-color: rgb(5 235 103 / 71%) !important;
  transition-duration: 0.5s;
}
.btn-play-video:hover {
  background-color: unset;
  box-shadow: none;
  text-shadow: 0px 0px 30px rgb(251 251 251);
}

.video-secton-play-btn button:before {
  top: 0px !important;
}

// .video-react-button,
// .video-react-big-play-button,
// .video-react-big-play-button-center,
// .video-react-icon-play-arrow:before,
// .video-react .video-react-bezel .video-react-bezel-icon-play:before,
// .video-react .video-react-play-control:before,
// .video-react .video-react-big-play-button:before,
// .accordion-item,
// .accordion-header,
// .accordion-button {
//   cursor: url(../assets/generalIcons/cursor.png), auto;
// }

// [type="button"]:not(:disabled),
// [type="reset"]:not(:disabled),
// [type="submit"]:not(:disabled),
// button:not(:disabled),
// .accordion-item,
// .accordion-header,
// .accordion-button {
//   cursor: url(../assets/generalIcons/cursor.png), auto;
// }

.experience-heading {
  z-index: 0;
}

button:before {
  font-size: 53px;
  top: 16px !important;
}

.about-me-section {
  @include flexRow("between", center);
  overflow: hidden;
}
.resume-btn {
  z-index: 3;
}

.about-self-img {
  @include elementSize(370px, 500px);
  margin-left: 75px;
}

.about-left-img-part {
  @include flexColumn(end, center);
  transform: rotateY(180deg);
  margin-left: -210px;
  position: relative;
  top: 80px;
  left: 55px;
  animation: MoveElementAbout 1.4s 1 ease-in-out;
}
@keyframes MoveElementAbout {
  0% {
    top: 300px;
  }
  100% {
    top: 80px;
  }
}

.about-right-part-part {
  @include flexColumn(null, start);
  margin-left: -60px;
}

.about-shadow-image {
  @include elementSize(790px, 260px);
  position: relative;
  bottom: 171px;
  transform: rotate(3deg);
}

.aboutme-background-text {
  top: -18%;
  width: 92%;
}

// -------------Experiennce  Section -----------

.experience-section {
  @include flexCenterColumn();
  background-color: $main-background-color;
}
.experience-cards-parent {
  @include FlexCenterRow();
  flex-wrap: wrap;
}
.experience-card {
  position: relative;
  background-color: $cards-background-color;
  border-left: 4px solid $theme-green-color;
  @include elementSize(550px, 250px);
}
.video-react .video-react-big-play-button.video-react-big-play-button-center {
  transition-duration: 0.5s;
}
.experience-card:hover .department-location,
.experience-card:hover .duration,
.experience-card:hover .duration-dot,
.department-title,
.experience-card:hover .experience-detail {
  color: $white-text;
  transition-duration: 0.4s;
}

.experience-card:hover {
  background-color: $theme-first-background-color;
  box-shadow: 0px 0px 50px 10px $cards-hover-color;
  border-color: $cards-background-color;
  transition-duration: 0.4s;
}

.department-location {
  @include generalText(16px);
  color: $theme-green-color;
}

.duration-dot {
  color: $theme-green-color;
  font-size: 20px;
}
.duration {
  position: absolute;
  right: 20px;
  top: 20px;
  @include generalText(16px);
  color: $white-text;
}

.department-title {
  @include generalText(22px);
  color: $white-text;
}
.experience-detail {
  @include generalText(20px);
}

// ------------ Skills Section----

.heading-detail {
  @include generalText(22px);
}
.skill-section {
  @include flexCenterColumn();
  background-color: $main-background-color;
}
.skills-parent {
  @include flexRow(space-around, space-around);
  flex-wrap: wrap;
  // flex-grow: 5;
}
.skill-img-parent {
  @include flexColumn(center, center);
}

.skill-img {
  width: 65%;
}
.skills-img-div {
  @include elementSize(150px, 150px);
  @include FlexCenterRow();
}
.skill-name {
  @include generalMedumSizeText(22px);
  color: $white-text;
}

.skills-img-div {
  width: 150px;
  position: relative;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-img-div::before,
.skills-img-div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00,
    #0f0
  );
  background-size: 400%;
  opacity: 1;
  border-radius: 50%;
  transition: 0.5%;
}

.skills-img-div::after {
  filter: blur(35px);
  animation: animate 20s linear infinite;
}
.bg-gradient-color-hidder {
  position: absolute;
  width: 95%;
  height: 95%;
  background: #010139;
  z-index: 1;
  border-radius: 50%;
  margin-right: -1.5px;
}
.skills-img-div .skill-img {
  position: absolute;
  transition: 0.5s;
  z-index: 1;

  animation: MoveSKillIcon 2s infinite ease-in-out;
}

@keyframes MoveSKillIcon {
  0% {
    margin-top: -10px;
  }

  50% {
    margin-top: 10px;
  }

  100% {
    margin-top: -10px;
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 300% 0;
  }

  100% {
    background-position: 0 0;
  }
}
