@import "./general/variables.scss";
@import "./general/mixins.scss";

// ------------  Mixins ---------------

// @font-face {
//   font-family: "Ethnocentric";
//   src: url(../fonts/Ethnocentric/ethnocentric.otf);
// }

// @font-face {
//   font-family: "Poppins";
//   src: url(../fonts/Poppins/Poppins.ttf);
// }

// @font-face {
//   font-family: "Hei_Reina";
//   src: url(../fonts/hei-reina-cufonfonts/HeiReinaRegular-PKXem.ttf);
// }

// @function weight($weight-name) {
//   @return map-get($font-weight, $weight-name);
// }

// @mixin desktopSecondBpMixin {
//   @media (max-width: $desktopSecondBp) {
//     @content;
//   }
// }

// @mixin desktopThridBpMixin {
//   @media (max-width: $desktopthirdBp) {
//     @content;
//   }
// }

// @mixin generalHeading($fontSize) {
//   font-size: $fontSize;
//   color: $heading-text-color-first;
//   font-weight: weight(bold);
//   font-family: "Ethnocentric", sans-serif;
// }

// // 27
// @mixin generalHeadingOne($fontSize) {
//   font-size: $fontSize;
//   color: $heading-text-color-second;
//   font-weight: weight(bold);
//   font-family: "Ethnocentric", sans-serif;
// }

// @mixin menuLinks {
//   font-size: $fontSize;
//   color: $menu-links-color;
//   font-weight: weight(medium);
//   font-family: "Poppins", sans-serif;
// }

// @mixin generalText($fontSize) {
//   font-size: $fontSize;
//   color: $general-normalSize-text-color;
//   font-weight: weight(light);
//   font-family: "Poppins", sans-serif;
// }

// @mixin generalMedumSizeText($fontSize) {
//   font-size: $fontSize;
//   color: $general-normalSize-text-color;
//   font-weight: weight(medium);
//   font-family: "Poppins", sans-serif;
// }

// @mixin FlexCenterRow {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// @mixin flexCenterColumn {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// @mixin flexRow($xAxis, $yAxis) {
//   display: flex;
//   justify-content: $xAxis;
//   align-items: $yAxis;
// }

// @mixin flexColumn($xAxis, $yAxis) {
//   display: flex;
//   flex-direction: column;
//   justify-content: $xAxis;
//   align-items: $yAxis;
// }

// @mixin themeSecondLayerView($width, $marginTop) {
//   position: relative;
//   width: $width;
//   margin-top: $marginTop;
//   background-color: $theme-seconds-background-color;
// }

// @mixin button {
//   width: max-content;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: transparent;
//   width: 230px;
//   height: 70px;
//   font-size: 27px;
//   font-weight: map-get($font-weight, medium);
//   border: 2px solid $theme-green-color;
//   border-radius: 50px;
//   color: $theme-green-color;
//   transition-duration: 0.2s;
//   padding-bottom: 10px;

//   &:hover {
//     background-color: $button-hover-color;
//     color: $white-text;
//   }
// }

// @mixin backgroundImage($Img, $imgHover, $backPosition) {
//   background-image: url($Img);
//   background-repeat: no-repeat;
//   background-size: 35px 35px;
//   padding-bottom: 5px;
//   background-position: $backPosition center;

//   &:hover {
//     background-image: url($imgHover);
//   }
// }

// @mixin GeneralbackgroundImage($Img, $imgHover, $Size, $backPosition) {
//   background-image: url($Img);
//   background-repeat: no-repeat;
//   background-size: $Size;
//   background-position: $backPosition;

//   center &:hover {
//     background-image: url($imgHover);
//   }
// }

// @mixin BackgroundImageServciesWorkMethod($Img, $imgHover, $Size) {
//   background-image: url($Img);
//   background-repeat: no-repeat;
//   background-size: $Size;
//   background-position: center center;
//   transition-duration: 0.2s;

//   &:hover {
//     background-image: url($imgHover);
//   }
// }

// @mixin font($fontSize, $weight, $color, $hoverColor) {
//   font-size: $fontSize;
//   font-weight: weight($weight);
//   color: $color;
//   font-family: "Poppins", sans-serif;

//   &:hover {
//     color: $hoverColor;
//   }
// }

// // --------------Cards Mixins---------

// @mixin cardParent($width, $height) {
//   min-width: $width;
//   height: $height;
//   @include flexColumn(center, start);
//   border-radius: 30px;
//   background-color: $cards-background-color;
//   transition-duration: 0.2s;

//   &:hover {
//     background-color: $cards-hover-color;
//   }
// }

// @mixin backgroundCardImage($Img, $imgHover) {
//   width: 110px;
//   min-height: 100px;
//   border-radius: 8px;
//   background-image: url($Img);
//   background-repeat: no-repeat;
//   background-size: 68%;

//   background-position: center center;
//   transition-duration: 0.2s;
//   // &:hover {
//   // background-color: $white-text;
//   // background-image: url($imgHover);
//   // }
// }

// @mixin card {
//   width: 350px;
//   height: 440px;
//   background-color: $cards-background-color;
//   transition-duration: 0.2s;

//   &:hover {
//     background-color: $cards-hover-color;
//     color: $white-text;
//   }
// }

// @mixin VerticalPadding($top, $bottom) {
//   padding-top: $top;
//   padding-bottom: $bottom;
// }

// @mixin HorizontalPadding($top, $bottom) {
//   padding-right: $top;
//   padding-left: $bottom;
// }

// @mixin VerticalMargin($top, $bottom) {
//   margin-top: $top;
//   margin-bottom: $bottom;
// }

// @mixin HorizontalMargin($top, $bottom) {
//   margin-right: $top;
//   margin-left: $bottom;
// }

// @mixin elementSize($width, $height) {
//   width: $width;
//   height: $height;
// }

// //  -------------End Mixins-------------------

// $font-weight: (
//   "extraLight": 200,
//   "light": 300,
//   "regular": 400,
//   "medium": 500,
//   "bold": 700,
//   "extrabold": 800,
// );

// $desktopSecondBp: 1650px;
// $desktopthirdBp: 1540px;

// $heading-text-color-first: #ffffff;
// $heading-text-color-second: #00da5d;

// $theme-first-background-color: #00da5d;
// $button-hover-color: #00da5d;
// $second-text-color: #00da5d;
// $theme-green-color: #00da5d;

// $menu-links-color: #ffffff;
// $menu-links-hover-color: #00da5d;
// $work-method-hover-color: #00da5d;

// $social-icons-hover: #0b5fba;

// $general-normalSize-text-color: #c0c0c0;
// $general-mediumSize-text-color: #c0c0c0;

// $white-text: #ffffff;

// $main-background-color: #000024;

// $skills-cards-hover-color: #020243;
// $home-third-sec-: #000033;
// $accordion-color: #020243;
// $theme-seconds-background-color: #020243;
// $cards-background-color: #010139;
// $cards-hover-color: #00da5d;

// // -----------------------------------

// --------------- Form Section  --------------------
.contact-section-parent {
  @include flexRow(space-between, center);
  height: 750px;
}
.contact-left-content {
  @include flexColumn(start, start);
  background-color: $theme-third-background-color;
  @include elementSize(48%, 100%);
  height: 100%;
  padding-top: 75px;
  padding-left: 50px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.open-for-porject {
  @include elementSize(160px, 160px);
  @include HorizontalPadding(21px, 21px);

  top: 50%;
  right: -80px;

  transform: rotate(40deg);
  background-color: $white-text;

  @include generalMedumSizeText(20px);
  color: rgb(0, 0, 0);
}

.main-form-parent {
  @include flexColumn(center, end);
}
.open-for-porject:hover {
    transform: rotate(0deg);
    transition-duration: .2s;
}
 

.floatinglbl {
  color: $general-normalSize-text-color;
}
.form-btn {
  align-self: flex-start;
}

.contact-right-form {
  @include elementSize(42%, 100%);
  padding-left: 0;
  padding-top: 60px;
}

.input {
  // @include elementSize(100%, 70px!important);
  font-size: 26px;
}

.floatinglbl {
  font-size: 20px;
}
.form-control:focus {
  box-shadow: none;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  transform: scale(0.85) translateY(-1.2rem) translateX(0.15rem);
}

.detail-input {
  // border: 1px solid #dee2e6 !important;
  min-height: 140px !important;
  max-height: 200px !important;
}
.background-text {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 220px;
  color: #29313c;
  font-weight: weight(medium);
  font-family: "Hei_Reina", sans-serif;
  transform: rotate(-23deg);
  bottom: 75px;
  right: 30px;
}
.contact-form-right-icon {
  animation: animateContactArrow 1.5s infinite ease-in-out;
}
@keyframes animateContactArrow {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: 15px;
  }

  100% {
    margin-left: 0px;
  }
}

.contact-right-form {
  background: #00da5d;
  @include elementSize(37%, auto);
  padding-top: 0;
}

.card {
  border-radius: 25px;
  animation: MoveElementContact 1.4s 1 ease-in-out;
}

@keyframes MoveElementContact {
  0% {
    top: 300px;
  }
  100% {
    top: 0px;
  }
}

.card-body {
  background-color: white;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  z-index: 0;
}
.card-img-top {
  padding: 0 28px 0 0;
  margin-bottom: -10px;
}

.card-title {
  color: black;
  font-size: 27px;
  font-weight: bold;
}
.card-text,
.hireMe-text {
  color: black;
}
.hireMe-text {
  font-size: 29px;
  font-weight: bold;
}
.hireme-cta {
  background-image: url(../assets/Contact/images/UpworkLogo.png);
  background-repeat: no-repeat;
  background-size: 90% 85%;
  padding-bottom: 5px;
  background-position: center center;
}

// -------------------------

.accordion-section {
  @include flexCenterColumn();
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.accordion-item:last-of-type .accordion-button {
  border-bottom-right-radius: unset !important;
  border-bottom-left-radius: unset !important;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.accordion-parent {
  @include flexColumn(flex-start, unset);
  // align-self: flex-start;
  width: 63%;
}
.accordion-item {
  border: 1px solid $theme-green-color !important;
  border-radius: 10px !important;
}
.accordion-item:focus {
  box-shadow: 0 0 0 0.25rem $theme-green-color;
}
.accordion-button {
  @include generalText(22px);
  @include flexRow(space-between, center);
  @include HorizontalPadding(0, "");
  @include VerticalPadding(0, 0);
  color: $white-text !important;
  background-color: $theme-seconds-background-color;
  border-radius: 10px;
}

.accordion-button::after {
  display: none !important;
}

.expander-parent {
  background: $theme-green-color;
  @include elementSize("", 100px);
  min-width: 15%;
  border-top-right-radius: 9px;
}

.expander {
  @include elementSize(27px, 4px);
  background-color: $white-text;
}

.expanderY {
  transform: rotate(90deg);
  transition-duration: 0.2s;
}
.expanderX {
  position: relative;
  top: 3px;
}
.activeAccordion {
  transform: rotateY(90deg);
}

.accordion-button:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
  // box-shadow: 0 0 0 0.25rem $theme-green-color;
}
.accordion-button:not(.collapsed) {
  color: $white-text !important;
  background-color: $theme-seconds-background-color;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.accordion-body {
  background-color: #04045f;
  color: #ffffff;
  @include VerticalPadding(45px, 45px);
  @include generalText(22px);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.faq-heading-parent {
  @include flexCenterColumn();
  @include HorizontalPadding(130px, 130px);
}
.faq-accordion-image-parent {
  @include flexRow(space-between, start);
}

.faqs-img {
  width: 340px;
}
