@import "./general/variables.scss";
@import "./general/mixins.scss";

.footer {
  border-top: 2px solid #373737cc;

  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 0px 200px 10px #6264b1;
}

.footer-icon {
  border: 1px solid #ffffff;
  border-radius: 50px;
  width: 60px;
  height: 60px;
}
.created-text,
.footer-slash {
  color: $theme-green-color;
  font-weight: bold;
}

.footer-icon {
  transition-duration: 0.5s;
}
.github:hover {
  background-color: #1b1f23;
}
.facebook:hover {
  background-color: #1b74e4;
}
.linkdin:hover {
  background-color: #0077b5;
}
.whatsapp:hover {
  background-color: #35d84b;
}
