@import "./general/variables.scss";
@import "./general/mixins.scss";

// ------------  Universal  Styling  ---------------

// .cards-section,
// .hero-section,
// .h-second-sec,
// .testimonials-section,
// .about-me-section,
// .experience-section,
// .skill-section,
// .projects-section,
// .serve-qulaity-section,
// .serve-qulaity-section,
// .work-method-section,
// .freelancing-section-parent,
// .contact-left-content,
// .contact-right-form,
// .accordion-section

// ------------ End  Universal  Styling    ---------------

// -------------  Home Section   --------------------

.hero-section {
  @include flexCenterColumn();
  overflow: hidden;
}

.hero-two-parts-parent {
  @include flexRow(space-between, null);
}

.left-content-part {
  @include flexColumn(center, flex-start);
  max-width: 790px;
  position: relative;
}

.welcome-txt {
  @include generalMedumSizeText(27px);
  animation: FadeElement 1.2s 11;
  position: absolute;
  top: 55px;
}
@keyframes FadeElement {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.dev-name {
  width: max-content;
  line-height: 1.4;
}

.hero-text {
  opacity: 0;
  position: absolute;
  width: max-content;
}
.hero-text1 {
  animation: hero-text1 17s infinite ease-in-out;
}
.hero-text2 {
  animation: hero-text2 17s infinite ease-in-out;
}
.hero-text3 {
  animation: hero-text3 17s infinite ease-in-out;
}

@keyframes hero-text1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hero-text2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hero-text3 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.btns-group {
  @include FlexCenterRow();
}
.btn-play-video {
  @include backgroundImage(
    "../../assets/Home/Icons/homePlaybtn.svg",
    "../../assets/Home/Icons/HomePlayBtnHover.svg",
    140px
  );
  padding-right: 30px;
}

.right-img-part {
  width: 600px;
  height: 600px;
  // margin-right: -55px;

  @include FlexCenterRow();
}

.dev-img {
  @include desktopThridBpMixin() {
    // margin-right: 130px;
  }
  min-width: 880px;
  height: 600px;
  animation: MoveElementbyMargin 1.4s 1 ease-in-out;
}

.scroll-down-element {
  @include flexCenterColumn();
}

@keyframes mymove {
  0% {
    top: 0px;
  }
  50% {
    top: 40px;
  }
  100% {
    top: 0px;
  }
}
.scroll-down-arrow-img {
  animation: mymove 1.5s infinite;
  position: relative;
}

.hero-scroll-first-line {
  font-size: 20px;
  color: $white-text;
  font-family: "Poppins", sans-serif;
}

.hero-scroll-second-line {
  font-size: 20px;
  color: $theme-green-color;
  font-family: "Poppins", sans-serif;
}

// -------------   Home Page Second Section ------------------

.h-second-sec {
  @include VerticalPadding(60px, 130px);
}

.contact-btn {
  @include backgroundImage(
    "../../assets/Home/Icons/HomecontactBtn.svg",
    "../../assets/Home/Icons/HomecontactBtnHover.svg",
    15px
  );

  width: max-content;
  padding: 30px 20px 35px 67px;
  background-size: 27px 27px;

  &:hover {
    background-size: 43px 43px;
  }
}
.problem-solver-txt,
.query-type-text,
.short-about-para {
  @include generalMedumSizeText(32px);
  color: $white-text;
}
.problem-solver-txt {
  @include generalMedumSizeText(22px);
  color: $white-text;
}

.home-background-text {
  top: 22%;
  left: 0%;
}

// -------Universal Media Queries-------

.problem-solver-txt,
.query-type-text {
  width: max-content;
}
.h-sec-right-part,
.h-sec-left-part {
  z-index: 1;
}
.h-sec-right-part {
  width: 750px;
}

.exp-txt {
  @include generalText(22px);
  color: $white-text;
  padding-left: 10px;
}
.exp-digit {
  @include generalHeadingOne(70px);
}

.query-txt-parent,
.short-about-para {
  margin: 4.5rem 0rem;
}

// ---------- Home  Cards Section-------------------

.cards-section {
  background: linear-gradient(180deg, rgba(0, 0, 36, 1) 50%, rgb(2 2 67) 50%);
  @include VerticalPadding(80px, 80px);
}

.cards-parent {
  @include cardParent(360px, auto);
  padding: 35px 35px 35px 35px;
  &:hover .cards-para {
    color: $white-text;
  }
  &:hover .completed-projects {
    color: $white-text;
  }

  &:hover .card-img-underline {
    background-color: $white-text;
  }

  &:hover .card-img {
    background-color: $white-text;
  }
}
.ui-ux-design-img {
  @include backgroundCardImage(
    "../../assets/Services/Icons/cardsIcons/UIUXDesign.svg",
    "../../assets/Services/Icons/cardsIcons/UIUXDesignHover.svg"
  );
}

.front-flex-end-design-img {
  @include backgroundCardImage(
    "../../assets/Services/Icons/cardsIcons/frontEnd.svg",
    "../../assets/Services/Icons/cardsIcons/frontEndHover.svg"
  );
}

.full-stack-design-img {
  @include backgroundCardImage(
    "../../assets/Services/Icons/cardsIcons/fullStack.svg",
    "../../assets/Services/Icons/cardsIcons/fullStackHover.svg"
  );
}
.bugs-fixer-img {
  @include backgroundCardImage(
    "../../assets/Services/Icons/cardsIcons/bugsFix.svg",
    "../../assets/Services/Icons/cardsIcons/bugsFixHover.svg"
  );
}

.cards-title {
  @include font(30, bold, #ffffff, #ffffff);
}
.cards-para {
  @include font(20, "regular", $general-normalSize-text-color, #ffffff);
}

.card-img-underline {
  width: 19px;
  height: 2px;

  border-radius: 30px;
  background-color: $theme-green-color;
}
.completed-projects {
  @include font(22, "regular", $theme-green-color, #ffffff);
}

// -------------  Testinmonials section ----------------------

.testimonials-section {
  padding-bottom: 170px;
}

.carousel {
  height: 500px;
  display: flex;
  align-items: center;
  padding-top: 100px;
  @include flexColumn(center, center);
}

.carousel-inner {
  position: relative !important;
}

.carousel-indicators {
  top: 550px;
  left: 53px !important;
}

.carousel-item {
  left: 11%;
}

.carousel-caption {
  width: 800px;
  left: 300px;
  padding: 50px 80px 20px 30px !important;
  top: -20px;
  display: flex !important;
  flex-direction: column !important;
  text-align: flex-start !important;
}

.carousel-heading {
  font-family: "Poppins" !important;
  font-size: 22px !important;
  font-weight: 500 !important;
}
.carousel-paragraph {
  font-family: "Poppins" !important;
  font-size: 18px !important;
  font-weight: lighter !important;
  color: $general-normalSize-text-color;
}

.testimonial-image {
  position: relative !important;
  width: 300px !important;
  height: 350px !important;
}

.carosalBtn {
  border-radius: 50% !important;
  width: 15px !important;
  height: 15px !important;
  opacity: 1 !important;
  background-color: white !important;
}

.carousel-indicators .active {
  background-color: $theme-green-color !important;
}
.carousel-control-prev {
  width: auto !important;
}

.carousel-control-btn {
  width: min-content !important;
  left: 570px !important;

  position: absolute !important;
  top: 500px !important;

  height: fit-content !important;
}

div .carousel-control-btn,
div .carousel-indicators {
  position: static !important;
}

.scroll-events-parent {
  position: absolute;
  bottom: -110px;
  @include flexColumn(unset, center);
}

.carousel-control-prev-icon {
  background-image: url(../assets/Home/Icons/preIcon.svg) !important;
}
.carousel-control-next-icon {
  background-image: url(../assets/Home/Icons/nexticon.svg) !important;
}
.comma {
  width: 32px;
}

.star {
  padding-right: 5px;
}

.testimonial-personName {
  color: #ffffff !important;
  font-size: 24px !important;
  font-weight: bold !important;
}
.reviewStars {
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

// ::-webkit-scrollbar-track {
//   box-shadow: none;
//   border-radius: 10px;
//   background-color: #00000000;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: rgb(161, 161, 161);
//   border-radius: 10px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #b30000;
// }
// body {
//   overflow: scroll; /* Show scrollbars */
// }
