@import "./general/variables.scss";
@import "./general/mixins.scss";

// ------------  Mixins ---------------

// @font-face {
//   font-family: "Ethnocentric";
//   src: url(../fonts/Ethnocentric/ethnocentric.otf);
// }

// @font-face {
//   font-family: "Poppins";
//   src: url(../fonts/Poppins/Poppins.ttf);
// }

// @function weight($weight-name) {
//   @return map-get($font-weight, $weight-name);
// }

// @mixin desktopSecondBpMixin {
//   @media (max-width: $desktopSecondBp) {
//     @content;
//   }
// }
// @mixin desktopThridBpMixin {
//   @media (max-width: $desktopthirdBp) {
//     @content;
//   }
// }

// @mixin generalHeading($fontSize) {
//   font-size: $fontSize;
//   color: $heading-text-color-first;
//   font-weight: weight(bold);
//   font-family: "Ethnocentric", sans-serif;
// }
// // 27
// @mixin generalHeadingOne($fontSize) {
//   font-size: $fontSize;
//   color: $heading-text-color-second;
//   font-weight: weight(bold);
//   font-family: "Ethnocentric", sans-serif;
// }

// @mixin menuLinks {
//   font-size: $fontSize;
//   color: $menu-links-color;
//   font-weight: weight(medium);
//   font-family: "Poppins", sans-serif;
// }

// @mixin generalText($fontSize) {
//   font-size: $fontSize;
//   color: $general-normalSize-text-color;
//   font-weight: weight(light);
//   font-family: "Poppins", sans-serif;
// }

// @mixin generalMedumSizeText($fontSize) {
//   font-size: $fontSize;
//   color: $general-normalSize-text-color;
//   font-weight: weight(medium);
//   font-family: "Poppins", sans-serif;
// }

// @mixin FlexCenterRow {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// @mixin flexCenterColumn {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// @mixin flexRow($xAxis, $yAxis) {
//   display: flex;
//   justify-content: $xAxis;
//   align-items: $yAxis;
// }

// @mixin flexColumn($xAxis, $yAxis) {
//   display: flex;
//   flex-direction: column;
//   justify-content: $xAxis;
//   align-items: $yAxis;
// }

// @mixin themeSecondLayerView($width, $marginTop) {
//   position: relative;
//   width: $width;
//   margin-top: $marginTop;
//   background-color: $theme-seconds-background-color;
// }

// @mixin button {
//   width: max-content;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: transparent;
//   width: 230px;
//   height: 70px;
//   font-size: 27px;
//   font-weight: map-get($font-weight, medium);
//   border: 2px solid $theme-green-color;
//   border-radius: 50px;
//   color: $theme-green-color;
//   transition-duration: 0.2s;
//   padding-bottom: 10px;
//   &:hover {
//     background-color: $button-hover-color;
//     color: $white-text;
//   }
// }

// @mixin backgroundImage($Img, $imgHover, $backPosition) {
//   background-image: url($Img);
//   background-repeat: no-repeat;
//   background-size: 35px 35px;
//   padding-bottom: 5px;
//   background-position: $backPosition center;
//   &:hover {
//     background-image: url($imgHover);
//   }
// }

// @mixin GeneralbackgroundImage($Img, $imgHover, $Size, $backPosition) {
//   background-image: url($Img);
//   background-repeat: no-repeat;
//   background-size: $Size;
//   background-position: $backPosition;
//   center &:hover {
//     background-image: url($imgHover);
//   }
// }

// @mixin BackgroundImageServciesWorkMethod($Img, $imgHover, $Size) {
//   background-image: url($Img);
//   background-repeat: no-repeat;
//   background-size: $Size;
//   background-position: center center;
//   transition-duration: 0.2s;
//   &:hover {
//     background-image: url($imgHover);
//   }
// }

// @mixin font($fontSize, $weight, $color, $hoverColor) {
//   font-size: $fontSize;
//   font-weight: weight($weight);
//   color: $color;
//   font-family: "Poppins", sans-serif;
//   &:hover {
//     color: $hoverColor;
//   }
// }

// // --------------Cards Mixins---------

// @mixin cardParent($width, $height) {
//   min-width: $width;
//   height: $height;
//   @include flexColumn(center, start);
//   border-radius: 30px;
//   background-color: $cards-background-color;
//   transition-duration: 0.2s;
//   &:hover {
//     background-color: $cards-hover-color;
//   }
// }

// @mixin backgroundCardImage($Img, $imgHover) {
//   width: 110px;
//   min-height: 100px;
//   border-radius: 8px;
//   background-image: url($Img);
//   background-repeat: no-repeat;
//   background-size: 68%;

//   background-position: center center;
//   transition-duration: 0.2s;
//   // &:hover {
//   // background-color: $white-text;
//   // background-image: url($imgHover);
//   // }
// }

// @mixin card {
//   width: 350px;
//   height: 440px;
//   background-color: $cards-background-color;
//   transition-duration: 0.2s;
//   &:hover {
//     background-color: $cards-hover-color;
//     color: $white-text;
//   }
// }

// @mixin VerticalPadding($top, $bottom) {
//   padding-top: $top;
//   padding-bottom: $bottom;
// }

// @mixin HorizontalPadding($top, $bottom) {
//   padding-right: $top;
//   padding-left: $bottom;
// }

// @mixin VerticalMargin($top, $bottom) {
//   margin-top: $top;
//   margin-bottom: $bottom;
// }

// @mixin HorizontalMargin($top, $bottom) {
//   margin-right: $top;
//   margin-left: $bottom;
// }

// @mixin elementSize($width, $height) {
//   width: $width;
//   height: $height;
// }

// //  -------------End Mixins-------------------

// $font-weight: (
//   "extraLight": 200,
//   "light": 300,
//   "regular": 400,
//   "medium": 500,
//   "bold": 700,
//   "extrabold": 800,
// );

// $desktopSecondBp: 1650px;
// $desktopthirdBp: 1540px;

// $heading-text-color-first: #ffffff;
// $heading-text-color-second: #00da5d;

// $theme-first-background-color: #00da5d;
// $button-hover-color: #00da5d;
// $second-text-color: #00da5d;
// $theme-green-color: #00da5d;

// $menu-links-color: #ffffff;
// $menu-links-hover-color: #00da5d;
// $work-method-hover-color: #00da5d;

// $social-icons-hover: #0b5fba;

// $general-normalSize-text-color: #c0c0c0;
// $general-mediumSize-text-color: #c0c0c0;

// $white-text: #ffffff;

// $main-background-color: #000024;

// $skills-cards-hover-color: #020243;
// $home-third-sec-: #000033;
// $accordion-color: #020243;
// $theme-seconds-background-color: #020243;
// $cards-background-color: #010139;
// $cards-hover-color: #00da5d;

// -----------------------------------

// --------------- Serve Quality Section--------------------

.serve-qulaity-section {
  @include flexRow(space-between, center);
  overflow: hidden;
}
.serve-quality-part-parent {
  @include flexColumn(center, start);
  padding-left: 60px;
}

.serve-quality-left-part {
  position: relative;
  @include flexRow(center, space-between);
  @include elementSize(1800px, 620px);
  left: -60px;
}
.self-services-image {
  position: absolute;
  bottom: -20px;
}

.s-down-arrow {
  position: relative;
  align-self: center;
  top: 50px;
}
.serve-quality-icons-parent {
  @include flexColumn(space-between, center);
  @include elementSize(auto, 300px);
  position: relative;
  top: 138px;
  left: 217px;
}

.s-skill-icon {
  width: 90px;
}
.s-react-icon {
  width: 80px;
}

// -------  Offer Services  --------------------------------

.offer-servcies-left-part {
  @include flexColumn(center, start);
}
.serve-qulaity-section {
  @include flexRow(space-between, center);
}

.services-carsds-parent {
  @include flexRow(end, null);
  flex-wrap: wrap;
}

.offer-servcies-left-part {
  width: 80%;
}

.cards-parent {
  width: 300px;
}

.services-card:nth-child(2),
.services-card:nth-child(4) {
  @include HorizontalMargin(0!important, 0!important);
}

.services-card {
  @include HorizontalPadding(18px, 18px);
  min-width: unset;
}

.services-card .completed-projects {
  display: none;
}
.services-card .cards-para {
  margin-bottom: 0px !important;
}

// -------  Offer Services  --------------------------------

.work-method-section,
.project-cycle-heading-parent,
.project-cycle-parent {
  @include flexCenterColumn();
}
.project-cycle-heading-parent {
  @include HorizontalPadding(150px, 150px);
}
.project-cycle-container {
  @include flexRow(space-between, start);
  flex-wrap: wrap;
  width: 100%;
  padding-top: 30px;
}
.project-cycle-parent {
  position: relative;
  @include elementSize(300px, auto);
  @include VerticalMargin(20px, 20px);
  @include HorizontalPadding(20px, 20px);
}
.project-cycle-arrow {
  position: absolute;
  top: 67px;
  right: -7%;
}
.project-cycle-img {
  @include elementSize(150px, 150px);
  border: 3px solid $theme-green-color;
  border-radius: 50%;
  transition-duration: 0.2s;
  @include VerticalMargin(0, 25px);
  &:hover {
    background-color: $theme-green-color;
  }
}

.requirements {
  @include BackgroundImageServciesWorkMethod(
    "../../assets/Services/Icons/workMethod/toDo.svg",
    "../../assets/Services/Icons/workMethod/toDoHover.svg",
    47%
  );
}
.development {
  @include BackgroundImageServciesWorkMethod(
    "../../assets/Services/Icons/workMethod/devUpdates.svg",
    "../../assets/Services/Icons/workMethod/devUpdatesHover.svg",
    55%
  );
}
.testing {
  @include BackgroundImageServciesWorkMethod(
    "../../assets/Services/Icons/workMethod/testing.svg",
    "../../assets/Services/Icons/workMethod/testingHover.svg",
    55%
  );
}
.deliver {
  @include BackgroundImageServciesWorkMethod(
    "../../assets/Services/Icons/workMethod/deliver.svg",
    "../../assets/Services/Icons/workMethod/deliverHover.svg",
    75%
  );
}
.project-cycle-heading {
  @include generalMedumSizeText(25px);
  color: $white-text;
}
.project-cycle-para {
  @include generalText(22px);
}
.project-cycle-parent:nth-child(4) .project-cycle-arrow {
  display: none;
}

// ------------  Freelanicng Section ---------------

.freelancing-left-content {
  @include flexColumn(center, start);
  background-color: $theme-green-color;
  width: 48%;
}
.freelancing-section-parent {
  @include flexRow(space-between, center);
  background-color: $theme-green-color;
  padding-right: 0;
}

.freelancin-btn {
  background-color: $theme-seconds-background-color;
}

.freelancin-btn:hover {
  background-color: $white-text ;
  color: $theme-green-color;
}
.freelancing-heading-one,
.freelancing-heading-two,
.freelancing-para,
.freelancin-btn {
  color: $white-text;
}
.freelancing-right-img {
  width: 50%;
}
.freelancing-img {
  width: 100%;
  height: 100%;
}
