@import "./variables.scss";
@import "./mixins.scss";

// after 1540px h-second-sec justify-content-around
// project-img-text text-center fw-bold text-white position-relative

// body {
//   overflow: scroll; /* Show scrollbars */
// }

// body::-webkit-scrollbar-track {
//   box-shadow: none;
//   border-radius: 10px;
//   background-color: #00000000;
// }

// /* Handle */
// body::-webkit-scrollbar-thumb {
//   background: rgb(161, 161, 161);
//   border-radius: 10px;
// }

// /* Handle on hover */

* {
  // cursor: url(../../assets/generalIcons/cursor.png), auto;
  box-sizing: border-box !important;
}

.preloader-parent {
  position: fixed;

  height: 100vh;
  background: $theme-seconds-background-color;
  @include flexCenterColumn;
  z-index: 10;
}

.preloader-logo {
  width: 400px;
  animation: FadeElement 1.5s infinite;
}

@keyframes FadeElement {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes MoveElementbyMargin {
  0% {
    margin-top: 300px;
  }

  100% {
    margin-top: 0px;
  }
}

body,
div .carousel-control-btn,
div .carosalBtn,
button,
a,
.logo {
  cursor: url(../../assets/generalIcons/pointerCursor.png) !important;
}

// div .carousel-control-btn,
// div .carosalBtn,
// .btn:hover,
// a:hover {
//   cursor: url(../../assets/generalIcons/cursor.png) !important;
// }
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::-moz-selection {
  /* Code for Firefox */
  background-color: #eeeeee;
  text-shadow: #0404f5 5px 5px 10px;
}

::selection {
  background-color: #eeeeee;
  text-shadow: #0202e2 5px 5px 10px;
}

body {
  cursor: url(../../assets/generalIcons/cursor.png), auto;
  overflow: unset !important;
  padding: 0 !important;
}

div .carousel-control-btn:hover,
div .carosalBtn:hover,
.btn:hover,
a:hover,
.scrollBar-Top:hover,
.scrollTop-Arrow:hover {
  cursor: url(../../assets/generalIcons/pointerCursor.png), auto;
}

// .modal {
//   background-color: #04040496;

// }

// div main .modal {
//   position: fixed !important;
//   width: 100% !important;
//   height: 70vh !important;
// }

// div .carousel-control-btn:hover,
// div .carosalBtn:hover,
// div .carousel-control-btn,
// div .carosalBtn,
// button,
// .btn:hover,
// a:hover,
// div a {
//   cursor: url(../../assets/generalIcons/pointerCursor.png) !important;
// }

@include desktop() {
}

@include laptop() {
}

@include tablet() {
}

@include largeWidthSizeMobiles() {
}

@include mobile() {
}

section:not(.video-section, .portfolio-section),
.header,
.footer {
  overflow: hidden;
  @include HorizontalPadding(50px, 50px);

  @include desktop() {
    @include HorizontalPadding(40px, 40px);
  }

  @include laptop() {
    @include HorizontalPadding(40px, 30px);
  }

  @include tablet() {
    @include HorizontalPadding(35px, 35px);
  }

  @include largeWidthSizeMobiles() {
  }

  @include mobile() {
    @include HorizontalPadding(13px, 13px);
  }
}

// section:nth-child(1) {
//   position: relative;
//   z-index: 9;
// }
.header,
.footer {
  position: relative;
  z-index: 100;
}

.freelancing-section-parent {
  padding-right: 0px !important;
}

.contact-section-parent {
  padding-left: 0px !important;
}

.page-hider-onScroll {
  z-index: 1;
  margin: 0 50px !important;
  background-color: $theme-first-background-color !important;
}

main,
header {
  margin: 0 50px !important;
    
  @include tablet() {
      margin: 0 0px !important; 
  }
}

main {
  @include VerticalPadding(100px !important, 100px !important);
  animation: FadePage 1.5s 1 ease-in-out;
  background-color: $theme-seconds-background-color;

  @include desktop() {
  }

  @include laptop() {
  }

  @include tablet() {
    @include VerticalPadding(70px !important, 70px !important);
  }

  @include largeWidthSizeMobiles() {
    @include VerticalPadding(60px !important, 50px !important);
  }

  @include mobile() {
    @include VerticalPadding(50px !important, 40px !important);
  }
}

@keyframes FadePage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.headroom-wrapper{
margin: auto 0;
width: 100%;
    z-index: 101;
 @include tablet() {
  
  }
    
}

.pages-parent {
  @include flexCenterColumn;
  @include VerticalPadding(70px, 70px);
  position: relative;
  z-index: 0;
  background-color: unset;
  margin-top: unset;
  max-width: 1600px;

  @include desktopSecondBpMixin() {
    max-width: 1450px;

    .carousel-item {
      left: 11%;
    }

    .carousel-control-prev {
      left: 670px !important;
    }

    .carousel-control-next {
      left: 747px !important;
    }
  }

  @include desktopThridBpMixin() {
    max-width: 1300px;

    .carousel-item {
      left: 7%;
    }

    .carousel-control-prev {
      left: 570px !important;
    }

    .carousel-control-next {
      left: 644px !important;
    }
  }

  @include desktop() {
    max-width: 1135px;
  }

  @include laptop() {
    max-width: 930px;
  }

  @include tablet() {
    max-width: 100%;
    padding: 0 !important;
  }

  @include largeWidthSizeMobiles() {
  }

  @include mobile() {
  }
}

.heading-first {
  @include generalHeading(50px);
}

.heading-second {
  @include generalHeadingOne(45px);
}

.btn {
  @include button();
}

.general-text {
  @include generalText(22px);
}

.theme-background-first-layer {
  @include elementSize(100%, 100vh);
  // @include HorizontalPadding(70px,70px);
  background-color: #00da5d;
  overflow: hidden;
}

.shape-TopRight {
  @include elementSize(350px, 350px);
  right: -180px;
  top: -150px;
}

.shape-TopLeft {
  @include elementSize(220px, 220px);
  left: -60px;
  top: -35px;
}

.shape-MidLeft {
  @include elementSize(220px, unset);
  left: -12px;
  top: 30%;
}

.shape-MidRight {
  @include elementSize(180px, unset);
  right: -77px;
  top: 50%;
}

.shape-BottomLeft {
  @include elementSize(230px, unset);
  left: -92px;
  bottom: -13%;
}

.shape-BottomRight {
  @include elementSize(250px, 250px);

  right: -70px;
  bottom: -66px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #0000ff;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: #000024;
  //   background: #00000000;
}

body::-webkit-scrollbar-thumb {
  background: #000092;
  border-radius: 50px;
}

.scrollBar-Top {
  // cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: $theme-first-background-color;
  right: 15px;
  bottom: 10px;
  z-index: 1;
  transition-duration: 0.5s;
  border-radius: 15px;
    
    
  @include desktop() {
  }



  @include laptop() {
      
      
  }


  @include tablet() {
      
  }

  @include largeWidthSizeMobiles() {
      
  }

  @include mobile() {
      
      
  }
 @include customSmallBp() {
      
      
  }
    
}
.scrollTop-Arrow {
     @include laptop() {
      
      width: 25px;
  }


  @include tablet() {
      
  }

  @include largeWidthSizeMobiles() {
      width: 22px;
  }

  @include mobile() {
      width: 20px;
      
  }
 @include customSmallBp() {
      
      
  }
}
.scrollBar-Top:hover .scrollTop-Arrow {
  // cursor: pointer;
  margin-top: -7px;
  transition-duration: 0.5s;
    
    
  @include desktop() {
  }



  @include laptop() {
      
      
  }


  @include tablet() {
      
  }

  @include largeWidthSizeMobiles() {
      
  }

  @include mobile() {
      
      
  }
 @include customSmallBp() {
      
      
  }
    
}

div .active-scrollToTop {
  display: flex !important;
  transition-duration: 0.5s;
    
    
  @include laptop() {
      width: 50px;
    height: 50px;
      
  }


  @include tablet() {
      
  }

  @include largeWidthSizeMobiles() {
       width: 45px;
    height: 45px;
  }

  @include mobile() {
      
       width: 40px;
    height: 40px;
  }
    
}

body .bh-widget-page__button-main {
  width: 70px !important;
  height: 70px !important;
    
    
  @include desktop() {
  }



  @include laptop() {
      
       width: 60px !important;
    height: 60px !important;
  }


  @include tablet() {
      
  }

  @include largeWidthSizeMobiles() {
      
  }

  @include mobile() {
       width: 50px !important;
    height: 50px !important;
      
  }
 @include customSmallBp() {
      
      
  }
    
}

body .bh-w-button-whatsapp-chat > img {
  width: 40px !important;
  height: 40px !important;
    
    
  @include desktop() {
  }



  @include laptop() {
      
       width: 35px !important;
    height: 35px !important;
  }


  @include tablet() {
      
  }

  @include largeWidthSizeMobiles() {
      
  }

  @include mobile() {
      
      width: 28px !important;
    height: 28px !important;
  }
 @include customSmallBp() {
      
      
  }
    
}

body .bh-active .bh-w-button-whatsapp-chat:after {
  height: 40px !important;
  width: 40px !important;
    
    
  @include desktop() {
  }



  @include laptop() {
      height: 35px !important;
    width: 35px !important;
}
      
  


  @include tablet() {
      
  }

  @include largeWidthSizeMobiles() {
      
  }

  @include mobile() {
      
      
  }
 @include customSmallBp() {
      
      
  }
    
}

body .bh-widget-page-wrapper {
  bottom: 90px !important;
  right: 15px !important;
    
    
  @include desktop() {
  }



  @include laptop() {
      
      right: 12px !important;
        bottom: 75px !important;

  }


  @include tablet() {
      
  }

  @include largeWidthSizeMobiles() {
          bottom: 67px !important;

  }

  @include mobile() {
      
          bottom: 60px !important;

  }
 @include customSmallBp() {
      
      
  }
    
}

 

body .bh-widget-page--right .bh-widget-page__call-to-action {
  justify-content: flex-end;
  right: 84px;
  top: 20px;
    
    
  @include desktop() {
  }



  @include laptop() {
      right: 73px;
    top: 15px;
      
  }


  @include tablet() {
      
  }

  @include largeWidthSizeMobiles() {
      
  }

  @include mobile() {
     right: 63px;
    top: 8px; 
      
  }
 @include customSmallBp() {
      
      
  }
    
}

.bh-w-call-to-action {

    @include mobile() {
      
          font-size: 12.5px;

  }
    
}


body .bh-w-call-to-action-container:after {
  content: "";
  display: block;
  left: 98%;
  bottom: 24px;
  position: relative;
    
    
  @include desktop() {
  }



  @include laptop() {
      
      
  }


  @include tablet() {
      
  }

  @include largeWidthSizeMobiles() {
      
  }

  @include mobile() {
      
      
  }
 @include customSmallBp() {
      
      
  }
    
  // animation-de
}

// .theme-background-second-layer {
//   margin-top: 118px !important;
// }

.cards-parent:hover {
  // box-shadow: 0px 5px 130px 5px $cards-hover-color;
  box-shadow: 0px 0px 70px 10px $cards-hover-color;
  transition-duration: 0.5s;
}

.project-cycle-img:hover {
  box-shadow: 0px 0px 100px 10px $cards-hover-color;
  transition-duration: 0.5s;
}
